<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{component/header :: layout(~{::content})}">
  <th:block th:fragment="content">

    <!-- Breadcrumb -->
    <div id="breadcrumb">
      <div class="container">
        <nav>
          <ul>
            <li>홈</li>
            <li>소식</li>
            <li aria-current="page">공지사항</li>
          </ul>
        </nav>
      </div>
    </div>

    <main id="contents">
      <section class="section" id="grid">
        <div class="container">
          <!-- 제목 + 검색 -->
          <div class="title-wrap">
            <div class="flex justify-space-between">
              <h2 class="section-title">공지사항</h2>

              <div id="search-box">
                <form id="searchbar" th:object="${req}" method="get" role="search">

                  <!-- 검색 구분 선택 -->
                  <div class="dropdown size-lg" role="group" aria-label="검색 구분 선택">
                    <select id="searchFieldSelect" class="text-field size-lg" aria-label="검색 구분 선택">
                      <option value="ntcMttrTtlNm" selected>제목</option>
                      <option value="ntcMttrCtt">내용</option>
                    </select>
                    <!-- 서버 전송용 hidden input -->
                    <input type="hidden" id="searchField" name="searchField" value="ntcMttrTtlNm">
                  </div>

                  <!-- 검색 입력 -->
                  <input id="searchInput" class="text-field size-lg" placeholder="검색어를 입력해주세요." aria-label="검색어"
                    autocomplete="off" enterkeyhint="search">

                  <button class="btn icon-only size-lg" type="submit" aria-label="검색">
                    <i class="icon icon-search" aria-hidden="true"></i>
                  </button>

                  <!-- VO 필드 hidden -->
                  <input id="ntcMttrTtlNm" th:field="*{ntcMttrTtlNm}" type="hidden">
                  <input id="ntcMttrCtt" th:field="*{ntcMttrCtt}" type="hidden">
                  <input id="sort" th:field="*{sort}" type="hidden">
                  <input id="dir" th:field="*{dir}" type="hidden">
                  <input id="page" th:field="*{page}" type="hidden" value="0">
                  <input id="size" th:field="*{size}" type="hidden" value="10">
                </form>
              </div>

            </div>
          </div>

          <!-- 게시판 목록 -->
          <div class="board-list">
            <h2 class="sr-only">공지 및 게시글 목록</h2>
            <div class="board-head" role="group" aria-label="목록 컬럼">
              <span class="col col-num">번호</span>
              <span class="col col-title">제목</span>
              <span class="col col-date">등록일</span>
            </div>

            <ul id="grid-tbody" class="board-body" role="list">
              <li class="board-row" th:if="${pageData == null or #lists.isEmpty(pageData.content)}">
                <div class="board-item">
                  <span class="col col-num">
                    <span class="badge badge-notice" aria-label="공지">공지</span>
                  </span>

                  <span class="col col-title">등록된 공지사항이 없습니다.</span>

                  <span class="col col-date">-</span>
                </div>
              </li>


              <li class="board-row" th:each="row, stat : ${pageData.content}"
                th:classappend="${row.mainExpsYn} == 'Y' ? 'is-notice'">
                <div class="board-item">
                  <span class="col col-num"
                    th:text="${row.mainExpsYn == 'Y' ? row.bltnNo : pageData.total - (pageData.page * pageData.size) - stat.index}">1</span>

                  <span class="col col-title">
                    <span th:if="${row.mainExpsYn == 'Y'}" class="badge badge-notice">공지</span>
                    <button type="button" data-garget="detail" th:attr="data-id=${row.bltnNo}" class="link-button"
                      th:text="${row.ntcMttrTtlNm}">제목</button>
                  </span>

                  <span class="col col-date"
                    th:text="${row.rgtDtm != null and row.rgtDtm.length() >= 8 ? #strings.substring(row.rgtDtm,0,4) + '.' + #strings.substring(row.rgtDtm,4,6) + '.' + #strings.substring(row.rgtDtm,6,8) : row.rgtDtm}">2025.05.07</span>
                </div>
              </li>
            </ul>
          </div>

          <!-- 페이지네이션 -->
          <div id="grid-pager" th:if="${pageData != null and pageData.total > 0}">
            <th:block th:replace="~{component/pagination :: pager(${pageData})}"></th:block>
          </div>

        </div>
      </section>
    </main>

    <!-- 스크립트 -->
    <script th:inline="javascript" type="text/javascript">
      (function () {
        const searchForm = document.getElementById('searchbar');
        const grid = document.getElementById('grid');
        const input = document.getElementById('searchInput');
        const titleField = document.getElementById('ntcMttrTtlNm');
        const contentField = document.getElementById('ntcMttrCtt');
        const inputPage = document.getElementById('page');
        const inputSize = document.getElementById('size');
        const inputSort = document.getElementById('sort');
        const inputDir = document.getElementById('dir');
        const searchFieldSelect = document.getElementById('searchFieldSelect');
        const searchFieldInput = document.getElementById('searchField');
        const baseUrl = '/news/ntcmttr/ntcMttr.do';

        // 선택값 hidden input에 반영
        searchFieldSelect.addEventListener('change', function () {
          searchFieldInput.value = this.value;
        });

        // 검색 submit
        searchForm.addEventListener('submit', function (e) {
          e.preventDefault();

          if (searchFieldInput.value === 'ntcMttrTtlNm') {
            titleField.value = input.value;
            contentField.value = '';
          } else {
            titleField.value = '';
            contentField.value = input.value;
          }

          inputPage.value = 0;

          const applied = Common.collectFromForm(searchForm);

          Common.reloadList({
            page: parseInt(inputPage.value),
            defaultSortColumn: 'bltn_no',
            swapTargets: ['.board-list', '#grid-pager'],
            baseUrl,
            selectSize: inputSize,
            inputSort,
            inputDir,
            applied
          });
        });

        // 페이지네이션
        bindPagination(baseUrl, {
          page: parseInt(inputPage.value || '0'),
          size: parseInt(inputSize.value || '10'),
          sort: inputSort.value || 'rgtDtm',
          dir: inputDir.value || 'asc'
        });

        grid.addEventListener('click', (e) => {
          const sendBtn = e.target.closest('button[data-garget="detail"]');
          if (!sendBtn) return;
          let rowId = sendBtn.dataset.id;
          if (rowId) {
            window.location.href = '/news/ntcmttr/ntcMttrDtl/' + rowId;
          }
        });


      })();
    </script>

    <!-- Footer / Top Button -->
    <th:block th:replace="~{component/footer :: siteFooter}"></th:block>
    <th:block th:replace="~{component/topBtn :: siteTop}"></th:block>

  </th:block>
</th:block>

</html>