<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{component/layout :: layout(~{::content})}">
  <th:block th:fragment="content">

    <main id="contents">
      <section class="section">
        <div class="container fluid">
          <div class="join-wrap">
            <div class="join-header">
              <h2 class="section-title">지원 사업 가입하기</h2>
              <ol class="step-box col3" role="list" aria-label="지원사업 가입 단계">
                <li>
                  <div class="circle" aria-hidden="true">
                    <span>1</span>
                    <i class="icon home"></i>
                  </div>
                  <p>거주지인증</p>
                </li>
                <li>
                  <div class="circle" aria-hidden="true">
                    <span>2</span>
                    <i class="icon filter"></i>
                  </div>
                  <p>인증 및 유형 선택</p>
                </li>
                <li aria-current="step" class="active">
                  <div class="circle" aria-hidden="true">
                    <span>3</span>
                    <i class="icon check"></i>
                  </div>
                  <p>가입완료 <span class="sr-only">(현재 단계)</span></p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="container size-sm">
          <div class="join-wrap">
            <div class="fin-box">
              <div class="gray-outer">
                <div class="step4-box" role="status" aria-live="polite">
                  <p class="complete-msg">
                    <strong class="color-blue">종로구 교통비지원 사업</strong>
                    <span>가입신청이 완료되었습니다.</span>
                  </p>

                  <div class="btn-wrap">
                    <a onclick="Common.MiniSPA.go('/')" class="btn btn-darken-line size-lg" id="" role="button">
                      메인으로
                    </a>
                    <a href="" class="btn btn-primary size-lg" id="" role="button">
                      지원금 신청
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>


    <script>

    </script>
  </th:block>
</th:block>

</html>