<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{component/layout :: layout(~{::content})}">
    <th:block th:fragment="content">

        <div class="mypage-nav">
            <div class="container fluid">
                <nav>
                    <ul>
                        <li class=""><a href="#">개명처리</a></li>
                        <li class="active"><a href="#" aria-current="page">나의지자체</a></li>
                        <li><a href="#">지원금 신청결과</a></li>
                        <li><a href="#">지원금 내역 조회</a></li>
                        <li><a href="#">이용내역 조회</a></li>
                        <li><a href="#">카드관리</a></li>
                        <li><a href="#">계좌관리</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <main id="contents">
            <section class="section">
                <div class="container size-xsm">
                    <div class="mypage-wrap">

                        <!-- 상단 회원 이름 표시 -->
                        <div class="mypage-header">
                            <h2 class="section-title">
                                <span th:text="${result[0].mbrsNm}">회원명</span> 님
                            </h2>
                        </div>

                        <!-- 지자체 변경 -->
                        <div class="form-box">
                            <form action="" method="post" novalidate aria-describedby="formGuide">
                                <fieldset>
                                    <legend class="sr-only">지자체 및 지원사업 변경</legend>
                                    <p class="field-title" id="lbl-local">지자체 변경</p>
                                    <div class="flex gap8">
                                        <label for="localName" class="sr-only">현재 지자체</label>
                                        <input id="localName" name="localName" type="text" class="text-field size-lg"
                                            readonly th:value="${tpwOrgNm}" aria-labelledby="lbl-local" />
                                        <button type="button" class="btn btn-darkgray size-lg"
                                            onclick="Common.MiniSPA.go('/svcjoin/rsdcAuth.do?orgCd=ORG0002&tpwSvcId=SVC010')">
                                            거주지 검증
                                        </button>
                                    </div>
                                    <div class="form-field" th:each="svc : ${result}">


                                        <!-- 가입한 지원사업 -->
                                        <p class="field-title" id="lbl-program">가입한 지원사업</p>
                                        <div class="flex dir-col gap8" aria-labelledby="lbl-program">
                                            <div class="flex gap8">
                                                <label for="program1" class="sr-only">지원사업</label>
                                                <input id="program1" type="text" class="text-field size-lg" readonly
                                                    th:value="${svc.tpwSvcNm}" aria-describedby="guide-program" />
                                                <a th:href="@{'/programs/' + ${svc.tpwSvcId}}"
                                                    class="btn btn-darkgray size-lg"
                                                    th:aria-label="${svc.tpwSvcNm} + ' 페이지 바로가기'">
                                                    바로가기
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="guide-program" class="guide-wrap">
                                        <p class="guide-text color-red">지원사업 참여 지자체의 주민만 교통비 할인이 지원됩니다.</p>
                                        <p class="guide-text color-red">거주지 인증 갱신을 통해 나의 지자체를 변경할 수 있습니다.</p>
                                        <p class="guide-text color-red">가입한 지원사업 바로가기 버튼을 통해 해당 지원 사업 홈페이지로 이동할 수 있습니다.
                                        </p>
                                    </div>
                                </fieldset>

                                <div id="formGuide" class="sr-only">지자체 및 지원사업 변경 입력 폼입니다.</div>
                            </form>
                        </div>

                        <div class="btn-wrap mt-10">
                            <a onclick="Common.MiniSPA.go('/mypage/dashboard.do?tpwSvcId=SVC010')"
                                class="btn btn-darken-line size-lg">목록</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </th:block>
</th:block>

</html>